<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Para Todos: Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a id="blog-title" href="/">Tech Para Todos: <br> <span id="blog-description">A Spanglish Tech Blog</span></a>
            </h1>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/login">Login</a>
                <button id="logout" class="btn-no-style">Logout</button>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting! ¡Hasta la próxima!
        </footer>
    </div>

</body>

</html>