<form class="login-form">
    {{!-- title in black container --}}
    <div class="title">
        <h2>LOGIN</h2>
    </div>
    {{!-- actual form beneath title container --}}
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />

        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />

        <button type="submit">Login!</button>
        {{!-- TODO: Add route to link to Sign Up Form Page --}}
        <a href="/">Sign Up Instead</a>
    </div>
</form>