<h2>¡HOLA!</h2>
<form class="login-form">
    <fieldset>
        <legend>LOGIN</legend>
        <div>
            <label for="email-login"></label>
            <input type="text" id="email-login" placeholder="Username" />
        </div>
        <div>
            <label for="password-login"></label>
            <input type="password" id="password-login" placeholder="Password" />
        </div>
        <div>
            <button type="submit">login</button>
        </div>

    </fieldset>
</form>

<form class="signup-form">
    <fieldset>
        <legend>SIGN UP</legend>
        <div>
            <label for="username-signup"></label>
            <input type="text" id="username-signup" placeholder="Username" />
        </div>
        <div>
            <label for="email-signup"></label>
            <input type="text" id="email-signup" placeholder="Email" />
        </div>
        <div>
            <label for="password-signup"></label>
            <input type="password" id="password-signup" placeholder="Password" />
        </div>
        <div>
            <button type="submit">signup</button>
        </div>

    </fieldset>
</form>