<form id="signup-form">
    {{!-- title in black container --}}
    <div class="title">
        <h2>SIGN UP</h2>
    </div>
    {{!-- actual form beneath title container --}}
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup">
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup">
    </div>
    <div>
        <button type="submit">Sign Up!</button>
    </div>
    <div>
        <a href="/login">Login Instead</a>
    </div>
</form>

{{!-- TODO: Add script for signup.js --}}
<script src="/javascript/signup.js"></script>