* {
    box-sizing: border-box;
}

:root {
    --primary: #53e3a6;
    --secondary: black;
    --tertiary: white;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
    color: var(--primary);
}

a:hover {
    color: var(--tertiary);
}

main a {
    color: var(--tertiary);
    font-weight: bolder;
}

main a:hover {
    color: var(--primary);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: var(--secondary);
    margin-bottom: 10px;
}

/* header h1 {
    font-size: 30px;
    color: var(--secondary);
} */

nav {
    display: block;
    text-align: center;
}

nav a, h1 {
    margin: 20px;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: color .1s;
    margin: 0px 20px 0px 20px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
}

.btn-no-style:hover {
    background: none;
    color: var(--tertiary);
}

h1 {
    display: inline-block;
    background-color: var(--primary);
    box-shadow: 8px 8px #36c086;
    border-radius: 15px;
    font-size: 25px;
    padding: 10px 10px;
}

#blog-title {
    color: var(--secondary);
}

#blog-description {
    font-size: 20px;
    display: inline;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    background: -webkit-linear-gradient(bottom right, #50a3a2 7%, #53e3a6 100%);
}

main {
    flex: 1;
    padding: 2% 4%;
}

ol {
    list-style:none ;
}

.post {
    border: 5px solid var(--secondary);
    margin: 10px 40px;
}

.title {
    background-color: var(--secondary);
    border: solid var(--secondary);
    color: var(--tertiary);
}

.comment-link:hover {
    color: var(--secondary);
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}
